body {
    background-color: white;
  }

.fundo-titulo {
  text-align: center;
  padding: 100px;
  background-image: url("./imagens/fundo.jpg");
  background-repeat: no-repeat;
  background-size: 1900px;
}

.descricao-app {
  padding: 30px;
  text-align: justify;
}

h2 {
    background-color: rgb(0, 140, 255);
  }
