<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
      </ion-avatar>
      <ion-label>{{this.nomeUsuario}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea [readonly]="true" label="Nível" placeholder={{this.nivel}}></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [readonly]="true" label="XP" placeholder={{this.progressoXp}}></ion-textarea>
    </ion-item>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
    <ion-item>
      <ion-button (click)="navigateToEditUsr()">Editar Perfil</ion-button>
    </ion-item>
  </ion-content>
  
  <ion-footer class="sairPerfil">
    <style>
      .sairPerfil{text-align: center;}
    </style>
    <ion-toolbar>
      <ion-button id="logoff-alert">Sair</ion-button>
      <ion-alert
        trigger="logoff-alert"
        header="Deseja realmente sair?"
        [buttons]="alertLogoffBtn"
        (didDismiss)="setResultLogoff($event)"
      ></ion-alert>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Tarefas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-header class="addTarefa">
    <style>
      .addTarefa{text-align: center;}
    </style>
    <ion-toolbar>
      <ion-button (click)="navigateToNew()">Nova Tarefa</ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">  
    <ion-list>

      <ion-item *ngFor="let task of tasks; let i=index">
        <ion-card class="card-center" *ngIf= "task.dificuldade =='Fácil'" color="success">
          <ion-card-header>
            <ion-card-title>{{task.titulo}}</ion-card-title>
            <ion-card-subtitle>25 XP</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{task.descricao}}</ion-card-content>
          <ion-button (click)="setOpenFinish(task.cod_tarefa, task.xp, true)" fill="clear">Concluir!</ion-button>
          <ion-button (click)="navigateToEdit(task.cod_tarefa, task.data_hora)" fill="clear">Editar</ion-button>
          <ion-button (click)="setOpenDelete(task.cod_tarefa, true)" fill="clear"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-card>

        <ion-card  class="card-center" *ngIf= "task.dificuldade == 'Médio'" color="warning">
          <ion-card-header>
            <ion-card-title>{{task.titulo}}</ion-card-title>
            <ion-card-subtitle>50 XP</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{task.descricao}}</ion-card-content>
          <ion-button (click)="setOpenFinish(task.cod_tarefa, task.xp, true)" fill="clear">Concluir!</ion-button>
          <ion-button (click)="navigateToEdit(task.cod_tarefa, task.data_hora)" fill="clear">Editar</ion-button>
          <ion-button (click)="setOpenDelete(task.cod_tarefa, true)" fill="clear"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-card>

        <ion-card class="card-center" *ngIf= "task.dificuldade == 'Difícil'" color="danger">
          <ion-card-header>
            <ion-card-title>{{task.titulo}}</ion-card-title>
            <ion-card-subtitle>100 XP</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{task.descricao}}</ion-card-content>
          <ion-button (click)="setOpenFinish(task.cod_tarefa, task.xp, true)" fill="clear">Concluir!</ion-button>
          <ion-button (click)="navigateToEdit(task.cod_tarefa, task.data_hora)" fill="clear">Editar</ion-button>
          <ion-button (click)="setOpenDelete(task.cod_tarefa, true)" fill="clear"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-alert
      [isOpen]="isAlertFinishOpen"
      header="Concluir tarefa?"
      [buttons]="alertFinishTsk"
      (didDismiss)="setResultFinish($event, false)"
    ></ion-alert>
    <ion-alert
      [isOpen]="isAlertDeleteOpen"
      header="Excluir tarefa?"
      [buttons]="alertDeleteBtn"
      (didDismiss)="setResultDel($event, false)"
    ></ion-alert>
    <ion-toast
      [isOpen]="toastFinishTask"
      message={{this.toastMessage}}
      [duration]="2000"
      (didDismiss)="setFinishTaskOpen(false)">
    </ion-toast>
    <ion-alert
      [isOpen]="alertLevelUp"
      message="Parabéns, você subiu de níve!"
      [buttons]="alertButtons"
      (didDismiss)="setLevelUpOpen(false)"
    ></ion-alert>
  </ion-content>
</div>