<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Nova tarefa</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div>
      <ion-list>
        <ion-item>
          <ion-input label="Título:" maxlength="35" [(ngModel)]="formData.titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea label="Descrição:" maxlength="70" [(ngModel)]="formData.descricao"></ion-textarea>
        </ion-item>
      </ion-list>
    </div>
    
    <div class="data">
      <style>
        .data{text-align: center;}
      </style>
      <br>
      <ion-label>Data:</ion-label>
      <ion-datetime datetime="datetime" (ionChange)="dataAlterada($event)"></ion-datetime>
    </div>

    <div class="dificuldade">
      <style>
        .dificuldade{text-align: center;}
      </style>
      <br>
      <ion-label>Dificuldade:</ion-label>
      <ion-segment value={{formData.dificuldade}} (ionChange)="seguimentoAlterado($event)">
        <ion-segment-button value="Fácil">
          <ion-label>Fácil</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Médio">
          <ion-label>Médio</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Difícil">
          <ion-label>Difícil</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-content>
  
  <ion-footer class="salvarCancelar">
    <style>
      .salvarCancelar{text-align: center;}
    </style>
    <ion-toolbar>
      <ion-button (click)="adicionarTarefa();">Salvar</ion-button> <ion-button (click)="cancelar()">Cancelar</ion-button>
      <ion-toast
        [isOpen]="isToastOpen"
        message="Preencha o título e a data"
        [duration]="2000"
        (didDismiss)="setOpen(false)">
      </ion-toast>
    </ion-toolbar>
  </ion-footer>
</div>