<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TasksXP 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <H1>Login</H1>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" width="50" height="50" />
    <ion-list>
      <ion-item>
        <ion-input label="Login:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Senha:"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button routerLink="/tarefas">Login</ion-button>
    <br>
    <ion-button>Nova Conta</ion-button>
  </div>  
</ion-content>